{% extends 'base.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
    <h1>Enregistrer</h1>

    {{ include('participant/_form.html.twig') }}

    <a href="{{ path('app_participant_index') }}">Retour à la liste</a>
{% endblock %}
