
###> symfony/framework-bundle ###
/.env
/composer.phar
/docker-compose.override.yml
/docker-compose.yml
/error_log
/node
/package.json
/symfony.lock
/webpack.config.js
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
